<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Paciente</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href='http://127.0.0.1:8000/static/css/bootstrap.css' rel='stylesheet'>
    <link href='http://127.0.0.1:8000/static/css/main.css' rel='stylesheet'>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body class="crear-paciente">
    <div class="wrapper">
        <div class="container container-fluid">
            <section class="section-pacientes">
                <div class="row">
                    <div class="col-12">
                            <h2 class="minsa-pacientes"> Crear Paciente</h2>

                    </div>
                </div>
                <div class="formulario">
                    {% load crispy_forms_tags %}
                    {% block content %}
                    <form action="./crear" method="post">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                            {{ form.tipoDoc|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                            {{ form.numDoc|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                        <div class="form-group">
                                                {{ form.nombres|as_crispy_field }}
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                            {{ form.appPaterno|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                            {{ form.appMaterno|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                        <div class="form-group">
                                        {{ form.fecha|as_crispy_field }}
                                        </div>
                                </div>
        
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Edad</label>
                                        <input type="text" class="form-control" id="inputEdad">
                                        </div>
                                </div>
                            </div>
                            
                            <button id="btnSubmit" type="submit" class="btn btn-primary">Crear</button>
                            <a href="/" class="btn btn-danger">Cancelar</a>
                    

                        
                        </form>
                    {% endblock %}
                </div>
            </section>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css">
    <script src="http://127.0.0.1:8000/static/js/main.js"></script>

</body>
</html>