<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Listar Paciente</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href='http://127.0.0.1:8000/static/css/bootstrap.css' rel='stylesheet'>
	<link href='http://127.0.0.1:8000/static/css/main.css' rel='stylesheet'>
</head>

<body class="listar-paciente">
    {% block content %}

    {% endblock %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css"> 
    <!--<link href='http://127.0.0.1:8000/static/css/bootstrap-datepicker.min.css' rel='stylesheet'> -->
    <script src="http://127.0.0.1:8000/static/js/main.js"></script>
</body>
</html>

