{% extends 'base.html' %}
{% block content %}

    <div class="wrapper crear-paciente">
        <div class="container container-fluid">
            <section class="section-pacientes">
                <div class="row">
                    <div class="col-12">
                         <h2 class="minsa-pacientes"> Crear Paciente</h2>
                    </div>
                </div>
                <div class="formulario">
                    {% load crispy_forms_tags %}
                   
                    <form action="./" method="post">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                            {{ form.tipo_documento|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                            {{ form.numero_documento|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                        <div class="form-group">
                                                {{ form.nombres|as_crispy_field }}
                                        </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                            {{ form.appPaterno|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                            {{ form.appMaterno|as_crispy_field }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                        <div class="form-group">
                                        {{ form.fecha|as_crispy_field }}
                                        </div>
                                </div>
        
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Edad</label>
                                        <input type="text" class="form-control" id="inputEdad">
                                        </div>
                                </div>
                            </div>
                            
                            <button id="btnSubmit" type="submit" class="btn btn-primary">Crear</button>
                            <a href="/" class="btn btn-danger">Cancelar</a>
                    
                    </form>
                    
                </div>
            </section>
        </div>
    </div>

{% endblock %}

