{% extends 'base.html' %}
{% block content %}
<div id="contenedor">
	<section class="section-eliminar">
		<article>
			<form method="post">
				{% csrf_token %}
				<h3> ¿Deseas eliminar a {{ pacientes.nombres }} {{ pacientes.appPaterno }}?</h3>
				<button type="submit" class="btn btn-danger">Eliminar</button>
				<a href="/" class="btn  btn-secondary">Cancelar</a>
			</form>
		</article>
	</section>
	<footer></footer>
</div>
{% endblock %}
	