@charset 'utf-8';

// Sass Libraries /
//@import "../../node_modules/sass-mediaqueries/media-queries";
//@import "../../node_modules/normalize.css/normalize";
//@import "../../node_modules/font-awesome/css/font-awesome";

// Configuration
@import 'base/variables';
@import 'base/reset';
@import 'base/mixins';
@import 'base/fonts';

/* Components */
@import 'components/helpers';
@import 'components/buttons';

// Sections
@import 'sections/header';
@import 'sections/footer';

//Pages
// @import 'pages/home';


$bg-coral: coral;
$bg-gray: #2d2d2d;
body {
    // border-top:2px solid $bg-coral;
}

.home-box {
	display:flex;
	@include min-screen($tl){
		display: grid;
	}
}

.hola {
	color:red;
}
