/* General*/
.wrapper {
    padding: 20px;
}

.form-group label {
     font-weight: bold;
}

.entrada li span {
    font-weight: bold;
}
.section-lista-pacientes {
    padding:20px;
}
.section-eliminar {
    padding:20px;
}

.entrada {
    margin-bottom: 10px;
}

.content_pacientes {
    padding: 10px;
}

/* Listar Pacientes */
.section-buscar-paciente .form-group label {
    margin-right: 10px;
    margin-top: 10px;
}
.section-buscar-paciente .form-control {
    display: inline-block;
    width: auto;
}

section.section-buscar-paciente {
    padding: 20px 20px 0 20px;
}

.section-editar .controls .select, 
.section-editar .controls .textarea, 
.section-editar .controls .textinput {
    border:4px solid blue;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.section-pacientes .controls .select, 
.section-pacientes .controls .textarea,     
.section-pacientes .controls .textinput  {
    border:4px solid blue;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input#id_fecha {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-buscar {
    display: flex;
    align-items: center;
    width: 100%;
}

.section-buscar-paciente .control-group select,
.section-buscar-paciente .control-group input {
    border:4px solid blue;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    display: inline-block;
    width: auto;
}

.section-buscar-paciente .control-group {
    display: flex;
    align-items: center;
}